<main>

    <form action=\/api/test\ method=\POST\>
      <label for=${2:name}\>label:</label>
      <input type=\text\ id=${2:name}\ name=${2:name}\ required>
      <label for=${4:name}\>label:</label>
      <input type=\text\ id=${4:name}\ name=${4:name}\ required>
      <label for=${6:name}\>label:</label>
      <textarea id=${6:name}\ name=${6:name}\ required></textarea>
      <button>Submit</button>
    </form>
</main>